.resetButton {
    background-color: #F8F8FF;
    border-top-color: red;
    border-top-width: 1;
}

.confirmButton {
    background-color: #F8F8FF;
    border-top-color: yellowgreen;
    border-top-width: 1;
}

.sudokuInputs {
    text-align: center;
    border-color: black;
    border-width: 1px;  
}