.username {
    text-align: center;
}

.password {
    text-align: center;
}

.userlogin{
    background-color: red;
    color: black;
}

.facelogin{
    background-color: #3B5998;
    color: white;
}